.tablename{
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
}
.table-wrapper{
   position:relative;
    width:80%;
    left:18%;
    right: 0;
    top: 0;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    text-align: center;
}
.quiztable{
    width: 100%;
    top: 0;
    position: absolute;
}
.quiztable td, .quiztable th {
    text-align: center;
    padding: 8px;
}

.quiztable td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}
.quiztable td:first-child{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    text-align: left;
}
.quiztable thead th{
    color: #ffffff;
    background: #324960;
}
.quiztable tr:nth-child(even){
    background-color: #9E9B9B;
}
.quiztable tr:nth-child(odd) {
    background-color: white;
}
 
.quizadding{
    margin-top:3%;
width: 50%;
float:left;
padding: 10px 60px 40px;
background: ghostwhite;
border: 1px dotted #ccc;
box-shadow: 0 0 10px;
border-radius: 2px;
font-size: 13px;
}
.quizadding input[type=text],.loginform input[type=text],.loginform [type=password],textarea,.quizadding select{
width: 97.7%;
height: 34px;
padding-left: 5px;
margin-bottom: 20px;
margin-top: 8px;
box-shadow: 0 0 5px;
border: 1px solid #b7b7b7;
color: #4f4f4f;
font-size: 16px;
}
textarea{
height: 60px;
resize: none;
}
input[type=radio],[type=checkbox]{
margin:10px 10px 0 10px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}

.quizadding input[type=submit],.quizadding [type=reset]{
    font-size: 17px;
    color: white;
padding: 7px 35px;
background-color:black;    
font-weight:bold;
cursor: pointer;
}
.tablename select,.tablename input[type=submit]{
    height: 30px;
    margin-top: 30px;
    margin-right: 30px;
}
.tablename select{
    box-shadow: 0 0 5px;
border: 1px solid #b7b7b7;
    color: #4f4f4f;
font-size: 16px;
}
.tablename input[type=submit]{
   background-color: antiquewhite;
    color: #4f4f4f;
font-size: 16px; 
}.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 20px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#0b56a8;
    border-color: #0b56a8;
}
article h2{color:#333333;}
h2{color:#0b56a8;}
 .margin10{margin-bottom:10px; margin-right:10px;}
 
 .container .text-style
{
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}
